/* Colour Variable */

:root {
  --primary-color: #1efff4;
  --secondary-color: #1eff8f;
}


/* Text Selection Colour */

::selection {
  color: black;
  background: var(--primary-color);
}

/* Firefox */

::-moz-selection {
  color: black;
  background: var(--primary-color);
}


/* Custom Scrollbar */

@media (min-width: 200px) and (max-width: 575px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #07090f;
  }

  ::-webkit-scrollbar-track {
    border: 5px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00ffbb, #2eaae1);
    border-radius: 15px;
  }
}

@media (min-width: 575.1px) and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #07090f;
  }

  ::-webkit-scrollbar-track {
    border: 5px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00ffbb, #2eaae1);
    border-radius: 15px;
  }
}

@media (min-width: 767.1px) and (max-width: 991px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #07090f;
  }

  ::-webkit-scrollbar-track {
    border: 5px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00ffbb, #2eaae1);
    border-radius: 15px;
  }
}

@media (min-width: 991.1px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #07090f;
  }

  ::-webkit-scrollbar-track {
    border: 5px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00ffbb, #2eaae1);
    border-radius: 15px;
  }
}

/* Background Video */

.background-video {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Horizontal Bar Pre-Loader */

.bar-preloader {
  background: url("../vid/pre-loader.gif") no-repeat center;
  background-size: 200px;
  height: 170vh;
  width: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 100;
}

/* Circular Pre-Loader */

.circle-preloader {
  background: url("../vid/circle pre-loader.gif") no-repeat center;
  background-size: 250px;
  z-index: 1000;
  position: relative;
  top: 50px;
  padding: 75px;
}

/* Pre-Loader Image */

.preloader-img {
  height: 215px;
  position: relative;
  top: 1px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 2s;
  animation-name: zoom;
  animation-duration: 2s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Disappearing Animation */

.disappear {
  animation: vanish 1s forwards;
  animation-delay: 11s;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
    background-color: black;
  }
}

/* Auto Typing Effect */

.text-box {
  color: white;
  text-align: center;
  position: relative;
  top: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

.auto-type {
  font-size: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: 10px;
  height: 100%;
}

/* Media Quaries */

@media only screen and (max-width: 1075px) {
  .circle-preloader {
    top: 10px;
  }

  .text-box {
    top: 20px;
  }

  .auto-type {
    font-size: 55px;
  }
}

@media only screen and (max-width: 995px) {
  .auto-type {
    font-size: 50px;
  }

  .circle-preloader {
    background-size: 220px;
    top: 30px;
  }

  .preloader-img {
    height: 190px;
  }

  .bar-preloader {
    background-size: 170px;
  }
}

@media only screen and (max-width: 907px) {
  .circle-preloader {
    top: 10px;
  }

  .text-box {
    top: 20px;
  }

  .bar-preloader {
    top: 10px;
  }
}

@media only screen and (max-width: 518px) {
  .auto-type {
    font-size: 45px;
    top: 8px;
  }

  .text-box {
    top: 10px;
  }

  .circle-preloader {
    top: 20px;
  }
}

@media only screen and (max-width: 470px) {
  .auto-type {
    font-size: 40px;
  }
}

@media only screen and (max-width: 423px) {
  .auto-type {
    font-size: 35px;
    top: 5px;
    height: 100%;
  }

  .text-box {
    top: 20px;
  }

  .circle-preloader {
    background-size: 200px;
    top: 25px;
  }

  .preloader-img {
    height: 170px;
  }

  .bar-preloader {
    background-size: 150px;
  }
}

@media only screen and (max-width: 376px) {
  .text-box {
    margin-right: 30px;
    margin-left: 30px;
    top: 15px;
  }

  .circle-preloader {
    top: 5px;
  }
}

@media only screen and (min-width: 1076px) {
  .circle-preloader {
    top: -15px;
  }

  .text-box {
    top: 5px;
  }

  .bar-preloader {
    top: 15px;
  }

  .auto-type {
    top: 11px;
  }
}

@media only screen and (min-width: 1104px) {
  .circle-preloader {
    top: 20px;
  }

  .text-box {
    top: 25px;
  }

  .bar-preloader {
    top: 0px;
  }
}
.formContainer {
  background-color: blue;
}