/* Text Selection Colour */

::selection {
  color: black;
  background: #34ebb1;
}

/* Firefox */

::-moz-selection {
  color: black;
  background: #34ebb1;
}


/* Custom Scrollbar */

@media (min-width: 200px) and (max-width: 575px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #07090f;
  }

  ::-webkit-scrollbar-track {
    border: 5px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00ffbb, #2eaae1);
    border-radius: 15px;
  }
}

@media (min-width: 575.1px) and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #07090f;
  }

  ::-webkit-scrollbar-track {
    border: 5px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00ffbb, #2eaae1);
    border-radius: 15px;
  }
}

@media (min-width: 767.1px) and (max-width: 991px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #07090f;
  }

  ::-webkit-scrollbar-track {
    border: 5px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00ffbb, #2eaae1);
    border-radius: 15px;
  }
}

@media (min-width: 991.1px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #07090f;
  }

  ::-webkit-scrollbar-track {
    border: 5px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00ffbb, #2eaae1);
    border-radius: 15px;
  }
}

/* Horizontal Bar Pre-Loader */

.bar-preloader {
  background: url("../vid/pre-loader.gif") no-repeat center;
  background-size: 200px;
  height: 170vh;
  width: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 100;
}

/* Circular Pre-Loader */

.circle-preloader {
  background: url("../vid/circle pre-loader.gif") no-repeat center;
  background-size: 250px;
  z-index: 1000;
  position: relative;
  top: 50px;
  padding: 75px;
}

/* Pre-Loader Image */

.preloader-img {
  height: 215px;
  position: relative;
  top: 1px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 2s;
  animation-name: zoom;
  animation-duration: 2s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Disappearing Animation */

.disappear {
  animation: vanish 1s forwards;
  animation-delay: 12s;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
    background-color: white;
  }
}
