name: Preview-Link-Generator
on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6

      - name: Install packages
        run: npm install

      - name: Install bundle
        run: bundle install

      - name: Build the app
        run: jekyll build

      - name: Install Surge
        run: npm install -g surge

      - name: Deploy to surge
        env:
          SURGE_LOGIN: yoshithasbrathnayake@gmail.com
          SURGE_TOKEN: acb9d89132e778a11f8bf1fea973b9fc
          DEPLOY_DOMAIN: https://pr-${{ github.event.number }}-NEW-YOSHITHA-WEBSITE.surge.sh
        run: surge ./_site/ $DEPLOY_DOMAIN --token $SURGE_TOKEN
